.popup__button_disabled {
  opacity: 20%;
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}

.popup__button_disabled:hover {
  opacity: 80%;
  color: #fff;
  background-color: #000;
}