.element__trash {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 32px;
  height: 32px;
  background: center / 16px 16px url(../../../images/delete.svg) no-repeat,
  #FF8484;
  background-size: 16px 16px, auto, 16px;
  align-self: center;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.element__trash:hover {
  opacity: 60%;
}