.add-form__input {
    min-height: 36px;
    background: #FFFEFB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-indent: 16px;
    border: 1px solid transparent;
    outline: none;
    padding-right: 16px;
}

.add-form__input::placeholder {
    color: rgba(180, 180, 180, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}